.App {
 display: flex; 
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.Menu,
.Quiz,
.End {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #3FC5F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.Menu form label {
  font-size: 20px;
  font-weight: 600;
}

.Menu button,
.Menu input,
.Quiz button,
.End button {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.Quiz .options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Quiz .nextQuestion-btn,
.Quiz .finish-btn {
  width: 200px;
  background-color: indigo;
  margin-top: 40px;
}

.Quiz .finish-btn {
  background-color: lawngreen;
}

.End {
  color: white;
}